body {
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
}
//COLOR                   VARIABLES               !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
$beige: #e3d5b8;
$black-16: #161616;
$black-1B: #1b1b1b;
$black-1F: #1f1f1f;
$white: #fff;
$light-grey: #b5b5b5;
$burgundy: #d03958;
//FONT           FAMILY         VARIABLES          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
$roboto: "Roboto", sans-serif;
$pt-serif: "PT Serif", serif;
$montserrat: "Montserrat", sans-serif;
//FONT                 WEIGHT         !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
$normal: 400;
$bold: 700;
