@import "./reset";
@import "./var";

//WRAP                   CONTAINERS             !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.main-wrap {
  background: $beige;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
//TEMPLATES               !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.txt-18 {
  font-size: 18px;
}
.txt-20 {
  font-size: 20px;
}
.txt-22 {
  font-size: 22px;
}
.txt-50 {
  font-size: 50px;
}
.txt-60 {
  font-size: 60px;
}
//HEADER                        !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.header {
  padding-top: 26px;
  .travel {
    font-family: $roboto;
    font-size: 88px;
    font-weight: $normal;
    line-height: 104px;
    color: $burgundy;
  }
  li {
    margin-right: 23px;
  }
  .mr-n {
    margin-right: 0;
  }
  .txt-18 {
    transition: 0.3s ease;
  }
  a {
    padding: 8px 14px;
    line-height: 22px;
    color: $black-1B;
    &:hover {
      background-color: $burgundy;
      color: $white;
      border-radius: 5px;
    }
  }
}
.content-header {
  padding-top: 90px;
  div {
    h1 {
      font-size: 90px;
      font-weight: $bold;
      line-height: 110px;
      color: $burgundy;
      span {
        color: $black-16;
      }
    }
    .pt-s {
      padding-top: 21px;
      font-family: $pt-serif;
      font-weight: $normal;
      line-height: 26px;
      color: $black-16;
      padding-bottom: 60px;
    }
  }
  //FORM                  HEADER        !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  div {
    .request-hrd-form {
      text-align: center;
      line-height: 27px;
      font-weight: $normal;
      color: $white;
      padding-bottom: 35px;
    }
    form {
      margin: 0px 15px;
      top: 100px;
      position: relative;
      background-color: $burgundy;
      padding: 27px 23px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .input-hdr {
      width: 353px;
      height: 57px;
      margin-bottom: 16px;
      border-radius: 5px;
      border: none;
      padding-left: 18px;
      font-family: $pt-serif;
      font-weight: $normal;
      line-height: 26px;
    }
    .accept {
      float: right;
      font-family: $pt-serif;
      color: $white;
      line-height: 26px;
      padding: 10px 30px 22px 0;
    }
    .check {
      width: 19px;
      height: 19px;
      margin: 14px 0 0 0;
    }
    .send {
      background-color: $black-16;
      color: $white;
      padding-left: 0;
      font-weight: $normal;
      line-height: 27px;
      font-family: $montserrat;
      cursor: pointer;
    }
  }
}
//MAIN                 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
main {
  background-color: $white;
  h2 {
    padding: 31px 0 75px;
    font-family: $roboto;
    font-weight: $normal;
    line-height: 59px;
    color: $burgundy;
    span {
      color: #000;
    }
  }
}
//MAIN            BLOCKS         !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.services {
  padding-bottom: 62px;
  .main-blocks {
    padding-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .l-h {
      font-family: $pt-serif;
      font-weight: $normal;
      line-height: 26px;
      color: $black-16;
      padding-top: 42px;
    }
    .p-30 {
      padding-top: 30px;
    }
  }
  .compass {
    margin-right: 0px;
  }
}
//OUR             STORY           !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.wrap-story {
  background-color: $burgundy;
  padding: 29px 0 40px 0;
  p {
    font-family: $pt-serif;
    font-weight: $normal;
    color: $white;
    line-height: 26px;
    padding-right: 15px;
  }
  button {
    width: 269px;
    height: 64px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: $normal;
    line-height: 27px;
    color: $black-16;
    background-color: $beige;
  }
}
//WRAP            PRISING           !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.wrap-pricing {
  text-align: center;
  background-color: $beige;
  padding-top: 51px;
  h2 {
    font-weight: $bold;
    line-height: 61px;
    color: $black-1F;
    padding-bottom: 20px;
  }
  .bank-cards {
    background-color: $white;
    padding: 0 78px;
    margin: 15px 15px 0 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    &:hover {
      margin-bottom: -15px;
    }
    &:hover button {
      background-color: $burgundy;
      color: $white;
    }
    h4 {
      font-family: $pt-serif;
      font-weight: $normal;
      color: $black-16;
      line-height: 29px;
      padding-top: 30px;
      padding-bottom: 16px;
      z-index: 1;
    }
    h2 {
      font-weight: $bold;
      line-height: 73px;
      color: $burgundy;
      z-index: 1;
    }
    p {
      font-family: $pt-serif;
      font-weight: $normal;
      line-height: 26px;
      color: $black-16;
      margin-bottom: 34px;
    }
    .txt-22 {
      transition: 0.3s ease;
    }
    button {
      width: 205px;
      height: 49px;
      font-weight: $normal;
      line-height: $black-16;
      line-height: 27px;
      margin-bottom: 10px;
      background-color: $beige;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .rltv {
    position: relative;
    .injection {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 103px;
      min-height: 107px;
      background: linear-gradient(135deg, #b4a993 50%, $white 50%);
      position: absolute;
      top: 0;
      left: 0;
      .popular {
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 60px;
        margin: 0;
        transform: rotate(-50deg);
      }
    }
  }
  .card-3 {
    margin-right: 0;
  }
}
.block-last {
  background-color: $white;
  padding: 125px 0 119px 0;
  .testimonial {
    padding-right: 70px;
  }
  .test {
    font-weight: $bold;
    line-height: 61px;
    color: $black-1F;
    margin-left: 50px;
    padding-bottom: 45px;
  }
  .last-block-t {
    position: relative;
    font-family: $pt-serif;
    font-weight: $normal;
    line-height: 26px;
    color: $black-16;
    padding-bottom: 17px;
    .img-man {
      position: absolute;
      border-radius: 50%;
      top: 0px;
      right: -55px;
      box-shadow: 1px 4px 6px grey;
    }
  }
  .dj-bravo {
    font-weight: $normal;
    line-height: 24px;
    color: $burgundy;
  }
  .wrap-last-block-txt {
    background-color: $beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding-left: 26px;
    min-height: 142px;
    min-width: 431px;
    .p-rel {
      position: relative;
    }
    .img-boy {
      position: absolute;
      border-radius: 50%;
      top: 0;
      right: -55px;
      box-shadow: 1px 4px 6px grey;
    }
    .m-0 {
      margin: 0;
    }
  }
  .no-color {
    background-color: $white;
    border-radius: 0;
    margin-bottom: 62px;
  }
  .gallery {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 15px 0;
    h2 {
      font-weight: $bold;
      color: $burgundy;
      line-height: 61px;
      padding-bottom: 46px;
    }
    .block-img {
      display: flex;
      justify-content: space-between;
      padding-bottom: 55px;
      img {
        border-radius: 50%;
        box-shadow: 1px 4px 6px grey;
      }
      .p-r40 {
        padding-right: 40px;
      }
    }
    a {
      font-weight: $normal;
      line-height: 24px;
      color: $burgundy;
      text-decoration: underline;
    }
  }
}
.footer {
  background-color: $black-16;
  padding: 75px 0;
  display: flex;
  align-items: center;
  p {
    color: $white;
    font-family: $pt-serif;
    line-height: 26px;
    font-weight: $normal;
    span {
      color: $burgundy;
    }
  }
  h2 {
    font-family: $roboto;
    font-size: 64px;
    line-height: 75px;
    font-weight: $normal;
    color: $burgundy;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1024px;
    .bank {
      display: flex;
      flex-direction: column;
      .bank-cards {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 960px) {
    .wrapper {
      max-width: 820px;
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .services {
          flex-direction: column;
        }
        .ul-menu li {
          margin-right: 0;
        }
      }
      .bank-cards {
        margin-right: 0;
      }
      .content-header > div > form {
        top: 0;
        margin-bottom: 15px;
      }
      .wrap-story > div > p {
        padding-bottom: 15px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    max-width: none;
    .container {
      padding: 0;
    }
    .ul-menu {
      display: flex;
      flex-direction: column;
      li {
        margin-right: 0;
      }
    }
    .content-header > div > h1 {
      font-size: 60px;
      form {
        padding: 27px 11px;
      }
    }
    .main-blocks {
      padding: 15px;
    }
    .wrap-story p {
      padding: 15px;
    }
    .bank {
      padding-bottom: 15px;
    }
    .services {
      display: flex;
      flex-direction: column;
    }
    .last-block-t {
      text-align: start;
      padding-left: 42px;
    }
    .block-last .last-block-t .img-man {
      right: 1px;
    }
    .block-last .wrap-last-block-txt .img-boy {
      right: 1px;
    }
    .dj-bravo {
      padding-right: 102px;
    }
    .block-last .gallery .block-img .p-r40 {
      padding-right: 20px;
    }
    .txt-20 {
      font-size: 15px;
    }
    .txt-50 {
      font-size: 45px;
    }
    .txt-60 {
      font-size: 50px;
    }
  }
}
